[Unit]
Description=Modern Taco Shop - Track Order Service

[Service]
WorkingDirectory=/home/moderntacoshop.trackorder.server/app
ExecStart=/home/moderntacoshop.trackorder.server/app/TrackOrder
SyslogIdentifier=ModernTacoShop.TrackOrder.Server
User=ubuntu
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target